<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>API -> PDF:S3 Tester</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<script>
			function pdfKit() {
				const URL_HASH = 'qqqqqqqqqq'
				fetch(
					`https://${URL_HASH}.execute-api.us-east-1.amazonaws.com/dev/pdf-to-s3`,
					{
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({
							vendorName: 'Kit Voucher',
							vendorStreet: '123 South Street',
							vendorZipCity: 19103,
						}),
					}
				)
					.then(response => {
						console.log(response)
						return response.json()
					})
					.then(body => {
						console.log(body)
						window.open(body.url, '_blank')
						return
					})
					.catch(err => console.error(err))
			}
		</script>
		<button class="btn first" onclick="pdfKit()">POST DATA: PDF S3</button>
		<!-- <button class="btn second">POST DATA</button>
		<button class="btn third">POST DATA</button>
		<button class="btn fourth">POST DATA</button>
		<button class="btn fifth">POST DATA</button>
		<button class="btn sixth">POST DATA</button> -->
	</body>
</html>
